<h2 itemprop="name headline" property="name headline"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
<div id="meta">
    <link itemprop="mainEntityOfPage" href="{{ SITEURL }}/{{ article.url}}" />
    <abbr class="published" title="{{ article.date.isoformat() }}"><time itemprop="datePublished" property="datePublished" datetime="{{article.date.isoformat()}}">{{ article.locale_date }}</time></abbr>
    {%- if article.modified != article.date %}
    (modified <abbr class="published" title="{{ article.date.isoformat() }}"><time itemprop="dateModified" property="dateModified" datetime="{{article.modified.isoformat()}}">{{ article.modified|strftime(article.date_format) }}</time></abbr>)
    {% endif %}
    in <a href="{{article.category.url}}">{{ article.category }}</a> by
    <span itemprop="author publisher" property="author publisher" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ article.author }}</span>
    </span>
    - <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Comments</a>
</div>
