{% if DISQUS_SITENAME %}
    <div class="blogItem">
    <div id="disqus_thread"></div>
    <script>
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_config = function () {
            this.page.url = "{{SITEURL}}/{{ article.url }}";
            // this.page.identifier = "{{ article.slug }};
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the
        <a href="http://disqus.com/?ref_noscript={{ DISQUS_SITENAME }}">
            comments powered by Disqus.
        </a>
    </noscript>
    </div>
{% endif %}
{% if LIVEFYRE %}
<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script>
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
		siteId: "{{ LIVEFYRE }}",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
{% endif %}
