    <link rel="canonical" href="{% block canonicalurl %}{{ SITEURL }}/{{output_file}}{%endblock%}" />

    <!-- Taken from https://moz.com/blog/meta-data-templates-123 -->

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@{{AUTHOR_DATA.twitter}}" />
	<meta name="twitter:title" content="{{ page.title() }}"/>
	<meta name="twitter:description" content="{{ page.description() }}"/>
    <meta name="twitter:creator" content="@{{AUTHOR_DATA.twitter}}" />
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="{{ META_IMAGE }}"/>

	<!-- Open Graph data -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title() }}" />
	<meta property="og:url" content="{{ self.canonicalurl() }}" />
	<meta property="og:image" content="{{ META_IMAGE }}" />
	<meta property="og:description" content="{{ page.description() }}" />
	<meta property="og:site_name" content="{{ SITENAME }}" />
	{% if article %}
	<meta property="article:published_time" content="{{ article.date.isoformat() }}" />
	<meta property="article:modified_time" content="{{ article.date.isoformat() }}" />
	<meta property="article:section" content="{{ article.category }}" />
	{% for a_tag in article.tags %}
	<meta property="article:tag" content="{{ a_tag }}" />
	{% endfor %}
	{% endif %}
	<meta property="fb:admins" content="1188604437" />

	<meta name="theme-color" content="#153a4d" />

