{% if not QUICKBAR_COUNT is defined %}
{% set QUICKBAR_COUNT = 5 %}
{% endif %}
<ul>
  <li>
    <h3>categories</h3>
    <ul>
{% for category, arts in categories|sort %}
      <li>
      <h3><a href="{{ SITEURL }}/category/{{ category }}.html">{{ category }}</a></h3>
        <ul>
          {% for article in arts[0:QUICKBAR_COUNT] %}
          <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
          {% if arts|length > QUICKBAR_COUNT  %}
          <li><a href="{{ SITEURL }}/category/{{ category }}.html">...</a></li>
          {% endif %}
        </ul>
      </li>
{% endfor %}
    </ul>
  </li>
  <li>
    <h3>tags</h3>
    <ul>
{% for tag, arts in tags|sort %}
      <li>
      <h3><a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a></h3>
        <ul>
          {% for article in arts[0:QUICKBAR_COUNT] %}
          <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
          {% if arts|length > QUICKBAR_COUNT  %}
          <li><a href="{{ SITEURL }}/tag/{{ tag }}.html">...</a></li>
          {% endif %}
        </ul>
      </li>
{% endfor %}
    </ul>
  </li>
  <li>
    <h3><a href="{{ SITEURL }}/seminars">seminars</a></h3>
    <ul>
      {% for name, loc in SEMINARS|sort %}
      <li><a href="{{ SITEURL }}/seminars/{{ loc }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </li>
{% if LINKS %}
  <li>
    <h3>links</h3>
  <ul>
{% for ttl, lnk in LINKS %}
      <li><a href="{{ lnk }}">{{ ttl }}</a></li>
{% endfor %}
  </ul>
  </li>
{% endif %}
  <li>
    <h3><a href="{{ SITEURL }}/about">about</a></h3>
    <ul>
{% for text, link in AUTHOR_DATA.items() %}
      <li><a rel="me" href="{{ link }}">{{ text }}</a></li>
{% endfor %}
    </ul>
  </li>
</ul>
